/* header */
h4 + p {
  margin: 5px;
}
/* header link */
.qrcode img {
  /* display: none; */
  width: 0px;
  height: 0px;
  transition: 1s;
}
.qrcode .text {
  display: none;
}
.qrcode:hover i {
  display: none;
}
.qrcode:hover svg {
  display: none;
}
.qrcode:hover img {
  display: block;
  margin: 20px;
  width: 280px;
  height: 280px;
}
.qrcode:hover .text {
  display: block;
}

/* fontawesome */
.fas {
  font-size: 10px;
  width: 10px;
}
